body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:1369px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:1369px;
}
#u1 {
  position:absolute;
  left:2px;
  top:676px;
  width:865px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:270px;
  top:810px;
  width:400px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:310px;
  top:930px;
  width:400px;
  height:110px;
}
#u5 {
  position:absolute;
  left:2px;
  top:47px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:380px;
  top:300px;
  width:400px;
  height:400px;
}
#u7 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
