body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1007px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u185 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u186 {
  position:absolute;
  left:70px;
  top:605px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u188 {
  position:absolute;
  left:173px;
  top:605px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u190 {
  position:absolute;
  left:268px;
  top:605px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:51px;
  top:591px;
  width:103px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:154px;
  top:591px;
  width:103px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194 {
  position:absolute;
  left:257px;
  top:591px;
  width:103px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:60px;
  top:36px;
  width:217px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 213, 213, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u197 {
  position:absolute;
  left:60px;
  top:110px;
  width:240px;
  height:120px;
  text-align:left;
}
#u198 {
  position:absolute;
  left:10px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 213, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:120px;
  top:80px;
  width:120px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u201 {
  position:absolute;
  left:10px;
  top:110px;
  width:42px;
  height:42px;
}
#u202 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 213, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u203 {
  position:absolute;
  left:20px;
  top:270px;
  width:320px;
  height:220px;
  text-align:left;
}
#u204 {
  position:absolute;
  left:10px;
  top:26px;
  width:308px;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0080FF;
}
#u205 {
  position:absolute;
  left:440px;
  top:327px;
  width:567px;
  height:64px;
  color:#0080FF;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  white-space:nowrap;
}
#u207_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:111px;
  height:21px;
}
#u207p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:102px;
  height:1px;
}
#u207p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:113px;
  height:21px;
}
#u207p001 {
  position:absolute;
  left:-11px;
  top:-11px;
  width:22px;
  height:22px;
}
#u207p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u207p002 {
  position:absolute;
  left:99px;
  top:0px;
  width:2px;
  height:1px;
}
#u207p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u207.compound {
  width:0px;
  height:0px;
}
#u207 {
  position:absolute;
  left:290px;
  top:138px;
  width:100px;
  height:1px;
}
#u208 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0080FF;
}
#u209 {
  position:absolute;
  left:400px;
  top:130px;
  width:307px;
  height:32px;
  color:#0080FF;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u211_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:111px;
  height:21px;
}
#u211p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:102px;
  height:1px;
}
#u211p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:113px;
  height:21px;
}
#u211p001 {
  position:absolute;
  left:-11px;
  top:-11px;
  width:22px;
  height:22px;
}
#u211p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u211p002 {
  position:absolute;
  left:99px;
  top:0px;
  width:2px;
  height:1px;
}
#u211p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u211.compound {
  width:0px;
  height:0px;
}
#u211 {
  position:absolute;
  left:330px;
  top:335px;
  width:100px;
  height:1px;
}
#u212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
