body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:546px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
}
#u2955 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:30px;
}
#u2957 {
  position:absolute;
  left:0px;
  top:73px;
  width:360px;
  height:517px;
  font-size:16px;
  line-height:30px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:250px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2959 {
  position:absolute;
  left:0px;
  top:590px;
  width:90px;
  height:50px;
  color:#666666;
}
#u2959_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2959.mouseOver {
}
#u2959_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2959.selected {
}
#u2960 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2961 {
  position:absolute;
  left:90px;
  top:590px;
  width:90px;
  height:50px;
  color:#666666;
}
#u2961_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2961.mouseOver {
}
#u2961_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2961.selected {
}
#u2962 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2963 {
  position:absolute;
  left:270px;
  top:590px;
  width:90px;
  height:50px;
  color:#FF0000;
}
#u2963_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2963.mouseOver {
}
#u2963_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2963.selected {
}
#u2964 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2965 {
  position:absolute;
  left:180px;
  top:590px;
  width:90px;
  height:50px;
  color:#666666;
}
#u2965_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2965.mouseOver {
}
#u2965_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2965.selected {
}
#u2966 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0080FF;
  text-align:center;
}
#u2967 {
  position:absolute;
  left:100px;
  top:90px;
  width:160px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0080FF;
  text-align:center;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2969 {
  position:absolute;
  left:10px;
  top:130px;
  width:340px;
  height:35px;
}
#u2969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u2969_input {
  font-family:'应用字体';
}
#u2970 {
  position:absolute;
  left:10px;
  top:175px;
  width:340px;
  height:35px;
}
#u2970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u2970_input {
  font-family:'应用字体';
}
#u2971 {
  position:absolute;
  left:10px;
  top:220px;
  width:340px;
  height:35px;
}
#u2971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u2971_input {
  font-family:'应用字体';
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2972 {
  position:absolute;
  left:10px;
  top:270px;
  width:340px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u2973 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
#u2974 {
  position:absolute;
  left:0px;
  top:73px;
  visibility:hidden;
}
#u2974_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2974_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 168, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 168, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2975 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u2976 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u2977_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:111px;
  height:21px;
}
#u2977p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:102px;
  height:1px;
}
#u2977p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:113px;
  height:21px;
}
#u2977p001 {
  position:absolute;
  left:-11px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2977p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u2977p002 {
  position:absolute;
  left:99px;
  top:0px;
  width:2px;
  height:1px;
}
#u2977p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u2977.compound {
  width:0px;
  height:0px;
}
#u2977 {
  position:absolute;
  left:350px;
  top:95px;
  width:100px;
  height:1px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2979 {
  position:absolute;
  left:460px;
  top:87px;
  width:86px;
  height:32px;
}
#u2980 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2981 {
  position:absolute;
  left:60px;
  top:36px;
  width:207px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2982 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u2983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u2983 {
  position:absolute;
  left:10px;
  top:315px;
  width:248px;
  height:16px;
  color:#FF6600;
}
#u2984 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
