body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:0px;
  top:73px;
  width:360px;
  height:517px;
}
#u234 {
  position:absolute;
  left:2px;
  top:250px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
}
#u236 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:60px;
  top:36px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u239 {
  position:absolute;
  left:0px;
  top:590px;
  width:360px;
  height:50px;
  color:#FF0000;
}
#u239_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u239.mouseOver {
}
#u239_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u239.selected {
}
#u240 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0080FF;
  text-align:center;
}
#u241 {
  position:absolute;
  left:120px;
  top:90px;
  width:120px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0080FF;
  text-align:center;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:10px;
  top:130px;
  width:340px;
  height:450px;
}
#u244 {
  position:absolute;
  left:2px;
  top:217px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:20px;
  top:140px;
  width:320px;
  height:430px;
  overflow:hidden;
}
#u245_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:430px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u245_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:430px;
  overflow:hidden;
}
#u246_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:430px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u246_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u247 {
  position:absolute;
  left:100px;
  top:10px;
  width:100px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  position:absolute;
  left:10px;
  top:40px;
  width:300px;
  height:656px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  position:absolute;
  left:10px;
  top:720px;
  width:300px;
  height:40px;
}
#u252 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
