body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3549 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3550 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3551 {
  position:absolute;
  left:10px;
  top:90px;
  width:114px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3552 {
  position:absolute;
  left:124px;
  top:90px;
  width:114px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3553 {
  position:absolute;
  left:238px;
  top:90px;
  width:114px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
